{{> header}}

<script type="text/javascript" src="javascript/methods.js"></script> 
<div class="container">
  <div class="form-group">
    <label>First Number:</label>
    <input type="text" name="firstNum" id="firstNum">
  </div>
  <div class="form-group">
    <label>Second Number:</label>
    <input type="text" name="secondNum" id="secondNum">
  </div>
  <div class="form-group">
    <label>Answer: {{ans}}</label>
    <input type="text" name="answer" id="answer">
  </div>
  <button type="" id="calculate" name="calculate" class="btn btn-default">Calculate</button>
</div>
</script>
