<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <h1>Hello World</h1>
    <script id="handlebars-test" type="text/x-handlebars-template">
        <ul>
        <li>{{firstName}}</li>
        <li>{{twitter}}</li>
        <li>{{jobTitle}}</li>
        </ul>
    </script>
    <div id="main"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="javascript/templating.js"></script> 
</body>


